:root {
    --clr-background:rgb(245,210,209);
    --clr-pri:rgb(54,42,42);
    --clr-pri-light:rgb(180,150,150);
    --clr-other: rgb(110, 94, 93); /*for testing colors*/
    --btn-size: 6rem;
    --grid-gap-size: 1rem;
    font-size: 50%;
    font-family: "Cutive Mono", "Anonymous Pro", "Overpass Mono", "JetBrains Mono", monospace;
    background: var(--clr-background);
}
@media (min-width: 350px) {
    :root {
        font-size: 60%;
    }
}
@media (min-width: 750px) {
    :root {
        font-size: 90%;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
    overflow: none;
}

.calculator {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*SCREEN START*/
.screen {
    width: calc(var(--btn-size)*5 + var(--grid-gap-size)*4 - var(--btn-size)/2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: var(--grid-gap-size);
    text-align: right;
    letter-spacing: .1rem;
}
.screen-text {
    font-size: 4rem;
    font-weight: 700;
    color: var(--clr-pri);
}
/*SCREEN END*/
hr {
    display: none;
    width: 100%;
    border: .1rem solid var(--clr-pri);
}
/*BUTTONS START*/
.buttons-container {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
    margin-top: var(--grid-gap-size);
    padding: calc(var(--btn-size) / 5);
    border: .1rem solid var(--clr-pri);
}
button {
    width: var(--btn-size);
    height: var(--btn-size);
    font-size: 2.5rem;
    font-family: inherit;
    font-style: inherit;
    letter-spacing: -.2rem;
    background: var(--clr-background);
    border: none;
    color: var(--clr-pri);
    transition: all .15s;
}
button:hover,
.btn-two-step:focus {
    outline: none;
    background: var(--clr-pri-light);
}
button:focus {
    outline: none;
}
button:active {
    box-shadow: inset 0 0 .4rem .05rem var(--clr-pri);
}
.num-pad {
    grid-area: 2 / 1 / span 4 / span 3;
    width: calc(var(--btn-size)*3 + var(--grid-gap-size)*2 );
    display: flex;
    flex-flow: row-reverse wrap;
    /* if I get rid of this border, don't forget to adjust width */
    /*border-top: .1rem solid var(--clr-pri);
    border-right: .1rem solid var(--clr-pri);*/
}
#equals {
    width: calc((var(--btn-size))*2 + var(--grid-gap-size));
    grid-area: -1 / -1 / -2 / -3;
}
/*BUTTONS ENDS*/