:root {
    --clr-background:rgb(245,210,209);
    --clr-pri:rgb(54,42,42);
    --clr-pri-light:rgb(180,150,150);
    --clr-other: rgb(92, 78, 77); /*for testing dark mode highlight color*/
    --btn-size: 6rem;
    --grid-gap-size: 1rem;
    font-size: 50%;
    font-family: "Cutive Mono", "Anonymous Pro", "Overpass Mono", "JetBrains Mono", monospace;
    background: var(--clr-background);
}
@media (min-width: 350px) {
    :root {
        font-size: 60%;
    }
}
@media (min-width: 750px) {
    :root {
        font-size: 90%;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
    overflow: none;
}

.calculator {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*SCREEN START*/
.screen {
    width: calc(var(--btn-size)*5 + var(--grid-gap-size)*4 - var(--btn-size)/3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: var(--grid-gap-size);
    text-align: right;
    letter-spacing: .1rem;
    white-space: nowrap;
    border: .1rem solid var(--clr-pri);
}
.screen-text {
    margin: 0 .4rem;
    font-size: 3.8rem;
    font-weight: 700;
    color: var(--clr-pri);
}
@media (min-width: 750px) {
    .screen-text {
        margin: 0 .5rem;
        font-size: 4rem;
    }
}
/*SCREEN END*/

/*BUTTONS START*/
.buttons-container {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
    margin-top: var(--grid-gap-size);
    padding: calc(var(--btn-size) / 5);
}
button {
    width: var(--btn-size);
    height: var(--btn-size);
    font-size: 2.5rem;
    font-family: inherit;
    font-style: inherit;
    letter-spacing: -.2rem;
    background: transparent;
    border: none;
    color: var(--clr-pri);
    transition: all .15s;
}
@media (hover: hover) {
    body:not(.tab-user) button:hover {
        outline: none;
        background: var(--clr-pri-light);
    }
}
body:not(.tab-user) button:focus {
    outline: none;
}
button:active {
    background: var(--clr-pri-light);
    box-shadow: inset 0 0 .4rem .05rem var(--clr-pri);
}
.pressed-key {
    background: var(--clr-pri-light);
    box-shadow: inset 0 0 .4rem .05rem var(--clr-pri);
}
.num-pad {
    grid-area: 2 / 1 / span 4 / span 3;
    width: calc(var(--btn-size)*3 + var(--grid-gap-size)*2 );
    display: flex;
    flex-flow: row-reverse wrap;
    /* if I get rid of this border, don't forget to adjust width */
    /*border-top: .1rem solid var(--clr-pri);
    border-right: .1rem solid var(--clr-pri);*/
}
#dark-mode-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#equals {
    width: calc((var(--btn-size))*2 + var(--grid-gap-size));
    grid-area: -1 / -1 / -2 / -3;
}
/*BUTTONS ENDS*/

/*--FOOTER START--*/
footer {
    position: relative;
    top: -7rem;
    padding: 2rem 3rem;
    font-size: 1.1rem;
    text-align: right;
}
@media (min-width: 400px) {
    footer {
        padding: 2rem 4rem;
        font-size: 1rem;
    }
}
.footer-text {
    color: var(--clr-pri);
}
a {
    color: var(--clr-pri);
    text-underline-offset: .23rem;
}
/*--FOOTER END--*/